*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 100vw;
    height: 100vh;
    background-color: teal;
}

.app{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.board{
    width: 50%;
    height: 100%;
    border : 3px solid white;
    display: flex;
    flex-direction: column;
}
.display{
    width: 50%;
    height: 100%;
    border : 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    height : 10%;
    width: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title h1{
    text-align: center;
    color: white;
    font-size: 2rem;
}
.content{
    height : 90%;
    width: 100%;
    background-color: rgba(0, 55, 128, 0.76);
}

.content .ttt{
    width : 75%;
    height: 75%;
    border: 3px solid wheat;
    margin: 12.5% auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.ttt .row{
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}
.ttt .row .block{
    width: 100%;
    height: 100%;
    font-size: 120px;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(209, 156, 233);
    transition: 0.6s;
    cursor: pointer;
}

.ttt .row .block:hover{
    background-color: rgb(253, 253, 253);
}

.content .history{
    width : 75%;
    height : 75%;
    border: 3px solid wheat;
    margin: 12.5% auto;
    display: flex;
    flex-direction: column;
}
.history button{
    height: 20%;
    max-height: 20%;
    background-color: burlywood;
    font-size: 2rem;
    text-align: center;
}